body{
margin: .6em;
padding: 0;
background-color: #fff;
}

#header{
margin-bottom: 1em;
}

#main{
width: 18em;
margin: 0 auto;
}

.card-body{
padding: 0 !important;
}

@media (min-width: 60em){
  body{
    font-size: 1.4em;
  }

  #main{
    width: 40em;
  }
}
