body{
margin: .6em;
padding: 0;
background-color: #fff;
}

#header{
margin-bottom: 1em;
}

#main{
width: 18em;
margin: 0 auto;
}

#map{
margin: 0 4%;
}

.dot{
display: inline-block;
margin: .3em;
border-radius: 50%;
width: .6em;
height: .6em;
}


@media (min-width: 60em){
  body{
    font-size: 1.4em;
  }

  #main{
    width: 40em;
  }
}
